!!!
html
  head
    title Gogobot Build Radiator
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js')
    script(src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js')
    script(src="/nowjs/now.js")
  body!= body
  script
    setTimeout(function(){
      window.location.reload();
    }, 180000);
    $(".percentage").each(function() {
      $(this).animate({
        width: "100%"
      }, parseInt($(this).attr("data-seconds-left")) * 1000, 'linear');
    });

    now.receiveMessage = function(message){
      console.log("message received " + message);
    }
    //var audio = new Audio("/audio/lasier.mp3");
    //audio.play();