body {
  padding: 0;
  margin: 2px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a { color: #00B7FF; }

.build { padding: 5px 25px; text-shadow: 1px 1px 1px black; color: white; position:relative; margin-right: 4px; overflow: hidden; width: 46%; float: left; margin-bottom: 4px; height: 275px; box-shadow: 1px 1px 7px #000;}
.build h1 { text-align: center; margin: 5px 0 0 0;}
.build h2 {margin: 15px 0 0 0;}
.build .statustext { text-align: right; }
.build.red {
  background-color: red; 
  border: 1px solid darkred;
  -webkit-animation-name: glow;  
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -webkit-animation-duration: 3s;
}
.build .startDate { position: absolute; top: 10px; right: 10px;}
div.build.green {background-color: #219117; border: 1px solid #017100;}
.build ul li { list-style: none; font-size: 20px; margin-right: 10px; float: left ; padding: 5px; width: 135px; height: 135px; }
.build ul li img { float: left; box-shadow: 0 0px 1px 2px #000, 0 -1px 5px 3px #fff; }
.build ul li span { line-height: 50px;}
.build ul { padding: 0; overflow: auto;}
.build .number { position: absolute; top: 10px; left: 10px;}
.percentage {position: absolute; top: 0; bottom: 0; left: 0; background-color: #004; opacity: 0.5; }

@-webkit-keyframes glow {  
  0% {  
    background-color: #f00;
  }  
  50% {  
    background-color: #730D0D;
  }  
  100% {  
    background-color: #f00;
  }  
}