body {
  padding: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a { color: #00B7FF; }

.build { padding: 5px 25px; text-shadow: 0px 1px 5px black; color: white; position:relative; margin: 8px 0; height: 360px; overflow: hidden;}
.build h1 { text-align: center; margin: 5px 0 0 0;}
.build h2 {margin: 15px 0 0 0;}
.build .statustext { position: absolute; right: 30px; top: 10px; }
.build.red {
  background-color: red; 
  -webkit-animation-name: glow;  
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -webkit-animation-duration: 3s;
}
.build.green {background-color: #219117;}
.build ul li { list-style: none; clear: left; font-size: 20px; margin: 5px 0;}
.build ul li img { margin-right: 10px; float: left;}
.build ul li span { line-height: 50px;}
.build ul { padding: 0; height: 270px; overflow: auto;}
.build .number { position: absolute; top: 10px; left: 10px;}

@-webkit-keyframes glow {  
  0% {  
    background-color: #f00;
  }  
  50% {  
    background-color: #730D0D;
  }  
  100% {  
    background-color: #f00;
  }  
}